.CreateAccountModal-footer {
  display: flex;
  align-items: center;
  justify-content: end;
}

.CreateAccountModal-footer button {
  max-width: 100px;
}

.custom-label-input {
  margin: 30px 0;
}

.ant-form-item-required::before {
  display: none !important;
}

.schedule-panel-content {
  display: flex;
  align-items: center;
}

.schedule-label {
  margin-right: 15px;
}

.date-picker-container {
  display: flex;
  width: 100%;
}

.date-picker-container>div {
  width: 50%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.custom-date-picker {
  max-width: 145px;
  border: 0;
  border-bottom: 1px solid #ccc;
}