.EditAccountModal-footer {
  display: flex;
  align-items: center;
  justify-content: end;
}

.EditAccountModal-footer button {
  max-width: 100px;
}

.custom-label-input {
  margin: 30px 0;
}

.ant-form-item-explain-error {
  margin-left: 30px !important;
}

.ant-table-thead .ant-table-cell {
  background-color: #468faf !important;
  color: #fff !important;
}

.ant-table-cell {
  border: 1px solid #000 !important;
}

.ant-table-cell::before {
  background-color: transparent !important;
}

.custom-collapse .ant-collapse-arrow {
  color: #fff !important;
}
